<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
</head>
<body>
<div>
    <div style="padding:10pt" width="100%" valign="top">
        <p style="margin:25px 0">Bonjour, {{userName}}.</p>
        <p style="margin:25px 0">username: {{userName}}</p>
        <p style="margin:25px 0">password: {{password}}</p>
        <p style="margin:25px 0">Cliquez sur ce lien pour activer votre compte, ce lien est valable 1an.<br>
            <a href="http://verify-account?token={{token}}"
               target="_blank">
                Cliquez ici pour activer votre compte
            </a></p>
        <p>
        </p>
    </div>
</div>
</body>
</html>

