<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<body>
<div>
    <p>Someone (hopefully you) has requested a password reset for your account. Follow the link below to set a new password:</p>

    <a href="http://localhost:8081/password-reset/{{token}}" target="_blank">
        http://localhost:8081/password-reset/{{token}}
    </a>

    <p>If you don't wish to reset your password, disregard this email and no action will be taken.</p>
</div>
</body>
</html>

